@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

::selection {
  @apply bg-fuchsia-500/30;
}

.prose-premium {
  @apply prose prose-invert max-w-none prose-headings:font-display prose-headings:tracking-tight prose-a:text-fuchsia-300 hover:prose-a:text-fuchsia-200 prose-strong:text-zinc-50;
}
